@import url('https://fonts.googleapis.com/css2?family=Englebert&family=Quicksand:wght@300;700&display=swap');

:root {
  --bg: powderblue;
  --blue: #0077BE;
  --white: #fff;
  --black: #000;
  --green: #bfff80;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f7f7f7;
}

.header-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
}
header {
  height: 100%;
  width: 100%;
  padding: 35px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 50px;
}

.wrapper {
  z-index: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 25px;
  margin-top: 50px;
}

.input-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.input-form input {
  width: 100%;
  padding: 15px;
  border: 0.5px solid var(--black);
  margin-right: 5px;
  border-radius: 15px;
  font-size: 20px;
}

.input-form button {
  width: 30%;
  height: 57px;
  padding: 10px;
  border-radius: 15px;
  border: 0.5px solid var(--black);
  font-size: 20px;
  color: var(--black);
  background-color: var(--bg);
  cursor: pointer;
}

.input-form button:hover {
  transition: 0.2s all;
  color: var(--white);
  background-color: var(--black);
}

.input-form button:active {
  transform: scale(0.9);
}

.task-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  margin-top: 15px;
}

.task {
  min-width: 150px;
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px;
}

.task h2 {
  width: 100%;
  align-self: flex-start;
  margin-right: 15px;
}

.task button {
  margin-left: 5px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .wrapper, header {
    width: 70%;
  }
  .input-form {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .wrapper, header {
    width: 50%;
  }
}